@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

@mixin fan($count, $angle) {
  @for $i from 1 through $count {
    div:nth-child(#{$i}) {
      transform: translate(-50%, -50%)
        rotate(-$angle/2 + $angle/($count + 1) * $i);
    }
  }
}

.computer {
  background-size: cover;
  height: 175px;
  width: 125px;
  border-radius: 5px;
  position: absolute;
  //box-shadow: 0 0 30px transparentize(black, 0.8);
  left: 50%;
  top: 50%;
  background-image: url(../Images/cardBack.png);
  transform-origin: center 180%;
}

.test {
  background-size: cover;
  height: 250px;
  width: 180px;
  border-radius: 5px;
  position: absolute;
  //box-shadow: 0 0 30px transparentize(black, 0.8);
  left: 50%;
  top: 50%;

  transform-origin: center 180%;

  &:hover {
    height: 278px;
    width: 200px;
  }
}

.test2 {
  background-size: cover;
  height: 278px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0 0 30px transparentize(red, 0.6);
  left: 50%;
  top: 50%;

  transform-origin: center 180%;
}

.hand {
  position: absolute;
  height: 100%;
  width: 100%;

  @include fan(5, 90deg);
}

.computerHand {
  position: absolute;
  height: 80%;
  width: 70%;

  @include fan(5, 90deg);
}

.middleDeck {
  height: 100%;
  width: 100%;
  display: flex;
}

.middle {
  background-size: cover;
  padding-left: 100px;
  height: 278px;
  width: 200px;
  border-radius: 10px;
}

#display-cards-remaining {
  color: white;
  font-family: "Fira Sans", sans-serif;
  //background: rgba(40, 44, 52, 0.9);
  margin: auto;
  text-align: center;
  display: table;
  font-size: large;
}

#display-span {
  background: rgba(40, 44, 52, 0.9);
}

.h-50 {
  height: auto;
  max-height: 200px;
}

.speed-middle-row {
  height: auto;
  max-height: 600px;
  margin-top: 70px;
}

.speed-bottom-row {
  height: auto;
  max-height: 600px;
}

#game-area {
  background-color: rgba(66,126,96,0.9);
  border-radius: 3em;
  width: 75%;
  display: flex;
  margin: auto;
}